repos:
-   repo: https://github.com/astral-sh/ruff-pre-commit
    # Find the latest tag at https://github.com/astral-sh/ruff-pre-commit/releases
    rev: v0.4.4
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix]
    -   id: ruff-format
